@import "tailwindcss";

@theme {
  --color-*: initial;
  --color-stroke: #5e3135;
  --color-default: var(--color-stroke);
  --color-surface: #feede3;
  --color-surface-darker: #c3ac9d;

  --color-details: #5e4a5b;

  --color-primary: #6bc9c9;
  --color-primary-darker: #47b0ab;

  --color-danger: #e16371;

  --font-heading: "DroidLover";

  --default-font-family: "Righteous";
}

/* @font-face {
  font-family: Digibats;
  src:
    local("Digibats-m2Zpm"),
    url("assets/fonts/digibats-font/Digibats-m2Zpm.otf") format("opentype");
}

@font-face {
  font-family: Digibats;
  src:
    local("DigibatsItalic-7OjpK"),
    url("assets/fonts/digibats-font/DigibatsItalic-7OjpK.otf") format("opentype");
  font-style: italic;
} */

@font-face {
  font-family: Righteous;
  src:
    local("Righteous-j7av"),
    url("assets/fonts/righteous-font/Righteous-j7av.ttf") format("truetype");
  font-style: italic;
}

@font-face {
  font-family: DroidLover;
  src:
    local("DroidLover-M6Ox"),
    url("assets/fonts/droid-lover-font/DroidLover-M6Ox.ttf") format("truetype");
  font-style: italic;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

body {
  color: var(--color-default);
}
