@import "tailwindcss";

@theme {
  --color-*: initial;

  --color-stroke: #5e3135;
  --color-stroke-light: hsl(355 31 28 / 60%);
  --color-stroke-darker: hsl(355 31 28 / 100%);

  --color-default: var(--color-stroke);

  --color-surface: #feede3;
  --color-surface-darker-half: hsl(24 24 69 / 50%);
  --color-surface-darker: #c3ac9d;

  --color-neutral: #ffffff;

  --color-details: #5e4a5b;

  --color-primary: #6bc9c9;
  --color-primary-lighter: hsl(180 47 70 / 100%);
  --color-primary-darker: #47b0ab;

  --color-danger: #e16371;
  --color-danger-lighter: hsl(353 68 75 / 100%);

  --font-heading: "HomeVideo";

  --default-font-family: "Righteous";

  --phone-browser-w: 54;
  --phone-browser-h: 89;
  --phone-browser-top: 4;
  --phone-browser-left: 4;

  --phone-nav-w: 54;
  --phone-nav-h: 15;
  --phone-nav-top: 102;
  --phone-nav-left: 3;
}

@font-face {
  font-family: Righteous;
  src: url("/fonts/righteous-font/Righteous-j7av.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

/* @font-face {
  font-family: GamePaused;
  src: url("/fonts/game-paused/Game-Paused.otf") format("opentype");
  font-style: normal;
  font-weight: normal;
} */

@font-face {
  font-family: "HomeVideo";
  src:
    local("HomeVideo-BLG6G"),
    url("/fonts/home-video/HomeVideo-BLG6G.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

h1,
h2,
h3 {
  font-family: var(--font-heading);
}

body {
  color: var(--color-default);
}

@supports (-webkit-touch-callout: none) {
  .h-screen {
    height: -webkit-fill-available;
  }
}

.glow:hover {
  /* text-shadow:
    0 0 7px var(--color-surface-darker),
    0 0 10px var(--color-surface-darker),
    0 0 21px var(--color-surface-darker); */

  /* transform: scale(1.1); */
  text-decoration: underline;
}

code {
  font-family: var(--default-font-family);
  font-weight: bold;
  /* font-size: 85%; */
  /* background-color: var(--color-surface-darker-half); */
  /* padding: 0.05rem 0.2rem; */
}

a.link {
  text-decoration: underline;
  cursor: pointer;
  color: var(--color-primary-darker);

  &.text-danger {
    color: var(--color-danger);
  }
}

strong {
  color: var(--color-stroke-light);
}
